html {
  --blue-glow: rgba(13, 110, 253, 0.7);
  --cyan-glow: rgba(13, 202, 240, 1);
  --gold-glow: rgba(255, 193, 7, 1);
  --danger-glow: rgba(217, 83, 79, 0.7);
}

body {
  background-color: #f9f9f9;
  margin-top: 90px;
}

.list-nav {
  width: 200px;
  height: 100%;
}

.tooltip.show {
  opacity: unset;
}

.accordion,
.accordion-item:first-child,
.accordion-button {
  border-radius: 5px 5px 0% 0% !important;
}

.accordion-button {
  border-bottom: solid 1px;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: #ddd;
}

.accordion-button:not(.collapsed) {
  background-color: unset;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: none !important;
}

.inventory .col {
  padding: 0;
}

.vendor {
  position: fixed;
  top: 15vh;
  left: 15vw;
  min-width: 520px;
  z-index: 2;
}

.progress.danger {
  animation: danger 2s infinite;
}

.progress.success.primary {
  animation: success-blue 2s infinite;
}

.progress.glory.primary {
  animation: glory-blue 2s infinite;
}

.progress.success.info {
  animation: success-cyan 2s infinite;
}

.progress.glory.info {
  animation: glory-cyan 2s infinite;
}

.progress.success.warning {
  animation: success-gold 2s infinite;
}

.progress.glory.warning {
  animation: glory-gold 2s infinite;
}

@keyframes danger {
  0% {
    box-shadow: 0 0 0 0 var(--danger-glow);
  }
  50% {
    box-shadow: 0 0 10px 10px var(--danger-glow);
  }
  100% {
    box-shadow: 0 0 0 0 var(--danger-glow);
  }
}

@keyframes success-blue {
  0% {
    box-shadow: 0 0 1px 1px var(--blue-glow);
  }
  50% {
    box-shadow: 0 0 5px 2px var(--blue-glow);
  }
  100% {
    box-shadow: 0 0 1px 1px var(--blue-glow);
  }
}

@keyframes glory-blue {
  0% {
    box-shadow: 0 0 0 0 var(--blue-glow);
  }
  50% {
    box-shadow: 0 0 10px 10px var(--blue-glow);
  }
  100% {
    box-shadow: 0 0 0 0 var(--blue-glow);
  }
}

@keyframes success-cyan {
  0% {
    box-shadow: 0 0 1px 1px var(--cyan-glow);
  }
  50% {
    box-shadow: 0 0 5px 2px var(--cyan-glow);
  }
  100% {
    box-shadow: 0 0 1px 1px var(--cyan-glow);
  }
}

@keyframes glory-cyan {
  0% {
    box-shadow: 0 0 0 0 var(--cyan-glow);
  }
  50% {
    box-shadow: 0 0 10px 10px var(--cyan-glow);
  }
  100% {
    box-shadow: 0 0 0 0 var(--cyan-glow);
  }
}

@keyframes success-gold {
  0% {
    box-shadow: 0 0 1px 1px var(--gold-glow);
  }
  50% {
    box-shadow: 0 0 5px 2px var(--gold-glow);
  }
  100% {
    box-shadow: 0 0 1px 1px var(--gold-glow);
  }
}

@keyframes glory-gold {
  0% {
    box-shadow: 0 0 0 0 var(--gold-glow);
  }
  50% {
    box-shadow: 0 0 10px 10px var(--gold-glow);
  }
  100% {
    box-shadow: 0 0 0 0 var(--gold-glow);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
