body {
  background-color: #f9f9f9;
  margin-top: 90px;
}

.list-nav {
  width: 200px;
  height: 100%;
}

.tooltip.show {
  opacity: unset;
}

.accordion,
.accordion-item:first-child,
.accordion-button {
  border-radius: 5px 5px 0% 0% !important;
}

.accordion-button {
  border-bottom: solid 1px;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: #ddd;
}

.accordion-button:not(.collapsed) {
  background-color: unset;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: none !important;
}

.inventory .col {
  padding: 0;
}

.vendor {
  position: fixed;
  top: 15vh;
  left: 15vw;
  min-width: 520px;
  z-index: 2;
}
